<% count = 1 %>
<% @users.each do |user| %>
  <div>
    <% s = "#{count} : #{user.username}" %>
    <%= link_to s, user, class: "list-group-item list-group-item-action" %>
    <% count += 1 %>
  </div>
<% end %>
